@import './base.css';

:root {
  --el-color-success: #2EC995 !important;
}

#app {
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  background-color: var(--el-color-white);
}

.header-task-container {
  margin: 20px 20px 0;
}

.header-task-container__btn {
  margin-left: auto;
}

.task-container {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.task.is-always-shadow {
  box-shadow: var(--el-box-shadow-lighter);
}

.task__content {
justify-content: space-between;
}

.task__check,
.task__check > .el-checkbox__input > .el-checkbox__inner {
  width: 20px;
    height: 20px;
    border-radius: 10px;
}

.el-checkbox__input.is-checked > .el-checkbox__inner {
  background-color: var(--el-color-success) !important;
    border-color: var(--el-color-success) !important;
}

.el-checkbox__inner:hover {
  border-color: var(--el-color-success) !important; 
}

.task__check > .el-checkbox__input > .el-checkbox__inner::after {
  width: 5px;
  height: 10px;
  left: 6px;
  top: 2px;
}

.task__edit {
  width: calc(100% - 40px);
  margin-bottom: 10px !important;
}

.el-text {
line-height: normal;
}

.task__btns {
  position: absolute;
  right: 0;
  float: left;
}

.form-label > .el-form-item__label {
  width: 90px;
  justify-content: flex-start;
}